.banner {
  color:rgb(196, 199, 206);
  height:100vh;
}

.banner-content {
  margin-top: 0;
  padding-top:250px;
  text-align: center;
 h1 {
  margin-top: 0px;
  font-size:60px;
  font-weight: bolder;
}
p {
  color:$silver;
  text-align: center;
  font-size:50px;
}
.last-name {
  color:#1e2447;
}
}

