.navbar{
    background-color: transparent;
    border: 0;
    color:#0E4984;
    position: fixed;
    width: 100%;
    z-index: 9999;
    padding-bottom: 13px;

.container{
  padding-right: 0px;
  margin-right: 10px;
  }
}
.navbar-brand {
  text-align:center;
}

.navbar-scroll {
  background: rgba(1, 1, 13,0.8);
   }

.nav .navbar-nav {
  margin-bottom: 20px;
}
