---
title: Umer Saqib
---

<div class="banner">
  <div class="banner-content">
    <h1><span class="first-name">Umer</span><span class="last-name"> Saqib</span></h1>
    <p class="rotate"><div class="slidingVertical">
      <span>Nature Nijna</span>
      <span>Markteing Master.</span>
      <span>Django Developer.</span>
      <span>What a Wanderer.</span>
    </div></p>
  </div>
</div>
<div class="wrapper-about-me">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="section">ABOUT ME</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <img src="images/dp.jpg" alt="" class="dp">
      </div>
      <div class="col-xs-12 col-sm-7">
        <p class="lead">
          An enthusiast to learn, adapt to change and excel in all the opportunities provided. Carrying great communication, entrepreneurial, innovative and creative skills.

          I set out for Europe from Pakistan at 22 to make a better future for my family and generations to come.

          Finished my Msc Entrepreneurship(Joint Degree UvA/VU University) and experienced more than expected in a short span of time living in Netherlands. Gained experience in Marketing, Sales and Event Management and in love with Start-Up scene trending around the world.

          Now becoming a Full-Stack Developer to bring my ideas into reality, besides seeking for employment opportunities as well, to broaden my network and experience because learning never stops.   </p>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper-resume">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="section">RESUME</h2>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <ul class="resume" style="list-style: none">
              <li>
                <h4 class="resume-parts"><i class="fa fa-briefcase" aria-hidden="true"></i>  Work Experience</h4>
              </li>
              <li>
                <time class="v-time"><span>July 2015</span> - <span>Apr 2016</span></time>
                <div>
                 <a class="resume-content" role="text" data-toggle="collapse" href="#resume-details-ics" aria-expanded="false" aria-controls="collapseExample">
                   <h4 class="resume-content"><span> + </span><span>Institute of Strategic Communication - Marketing and Events Coordinator</span></h4>
                 </a>
                 <p id="resume-details-ics" class="collapse">- Took in charge of organising and marketing the events on social and current issues and achieved 24% increase in attendance within 2 months.</br>
                  - Doubled the traffic for the institute’s website and Facebook page through social media and search engine marketing.</br>
                  - Successful events organised recently in Bucharest and Brussels on refugee crisis.
                </p>
              </div>
            </li>

            <li>
              <time class="v-time"><span>Jan 2015</span> - <span>Sept 2015</span></time>
              <div>
               <a class="resume-content" role="text" data-toggle="collapse" href="#resume-details-esn" aria-expanded="false" aria-controls="collapseExample">
                 <h4 class="resume-content"><span> + </span><span>Erasmus Student Network VU Amsterdam - Marketing and PR Manager</span></h4>
               </a>
               <p id="resume-details-esn" class="collapse">- Managing all the channels of communication of ESN VU Amsterdam and bringing in more partners, sponsors and funds. New clients acquired were Uniplaces, Il Caffe and Coco’s Outback Pub.</br>
                - Achieved an average of 30% increase in the number of attendees on activities and events though social media and networking.</br>
                - Successfully organized sold out events, activities, international and national trips with a team of 6.</br>
                - Leading PR & Marketing Committee and managing 1500 students a year and optimizing their stay in Amsterdam.
              </p>
            </div>
          </li>

          <li>
            <time class="v-time"><span>May - July 2014</span></time>
            <div>
             <a class="resume-content" role="text" data-toggle="collapse" href="#resume-details-henkel" aria-expanded="false" aria-controls="collapseExample">
               <h4 class="resume-content"><span> + </span><span>Henkel - Suplly Chain Intern
               </span></h4>
             </a>
             <p id="resume-details-henkel" class="collapse">- Reconciled the inventory movement for Finished goods, Trading goods and Packing Material.</br>
              - Reconciliation of customer orders, imports and sales and analysing the process for any cost and time reductions.</br>
              - Visiting warehouse twice a month for inventory inspection.</p>
            </div>
          </li>

          <li>
            <time class="v-time"><span>Apr - Sept 2013</span></time>
            <div>
             <a class="resume-content" role="text" data-toggle="collapse" toggle="false" href="#resume-details-pm" aria-expanded="false" aria-controls="collapseExample">
               <h4 class="resume-content"><span> + </span><span>Philip Morris International - Marketing and Sales Intern
               </span></h4>
             </a>

             <p id="resume-details-pm" class="collapse"><img src="images/dp.jpg" alt="" id="pm">- Working under brand manager in developing strategies to increase market share of Marlboro.</br>
              - Supporting sales staff by providing insights on data regarding retailers and wholesaler to target right audience.</br>
              - Working with business intelligence team, bringing ideas to the table for better future strategies for Malboro.</br>
            </p>
          </div>
        </li>
      </ul>
      <ul class="resume" style="list-style: none">
              <li>
                <h4 class="resume-parts"><i class="fa fa-graduation-cap" aria-hidden="true"></i>  Education</h4>
              </li>
              <li>
                <time class="v-time"><span>2015 - 2016</span></time>
                <div>
                 <a class="resume-content" role="text" data-toggle="collapse" href="#resume-details-lewagon" aria-expanded="false" aria-controls="collapseExample">
                   <h4 class="resume-content"><span> + </span><span>Le Wagon - Fullstack Web Development</span></h4>
                 </a>
                 <p id="resume-details-lewagon" class="collapse">- Three months full-time intense bootcamp, covering all the aspects of web development on front-end and back-end.
                </p>
              </div>
            </li>

            <li>
                <time class="v-time"><span>2015 - 2016</span></time>
                <div>
                 <a class="resume-content" role="text" data-toggle="collapse" href="#resume-details-master" aria-expanded="false" aria-controls="collapseExample">
                   <h4 class="resume-content"><span> + </span><span>University of Amsterdam & Vrije Univeristy Amsterdam - Msc Entrepreneurship (Joint Degree)</span></h4>
                 </a>
                 <p id="resume-details-master" class="collapse">- One year master from the top and prestigious universities of the world. Covering the theory and practical aspects of entrepreneurship.
                </p>
              </div>
            </li>
            <li>
                <time class="v-time"><span>2015 - 2016</span></time>
                <div>
                 <a class="resume-content" role="text" data-toggle="collapse" href="#resume-details-bachelor" aria-expanded="false" aria-controls="collapseExample">
                   <h4 class="resume-content"><span> + </span><span>Lahore School of Economics - BBA(Hons) Marketing and Media</span></h4>
                 </a>
                 <p id="resume-details-bachelor" class="collapse">- 4 years bachelor degree with majors in marketing and minors in media studies. Covering and learning all the aspects of marketing in details while applying them on projects.
                </p>
              </div>
            </li>
      </ul>
    </div>
  </div>

</div>
</div>
</div>

