---
title: Umer Saqib
---

<div class="banner">
  <div class="banner-content">
    <h1><span class="first-name">Umer</span><span class="last-name">Saqib</span></h1>

    <p class="intro">Marketeer, Full-Stack Developer and Wanderer</p>
  </div>
</div>
<div class="wrapper-about-me">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="section">ABOUT ME</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <img src="images/dp.jpg" alt="" class="dp">
      </div>
      <div class="col-xs-12 col-sm-7">
        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil id ad possimus officia distinctio. Numquam officia laborum, corporis nobis veritatis. Ipsam fugiat necessitatibus non nesciunt dolores consectetur cum, impedit cumque.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper-resume">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="section">RESUME</h2>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <ul>
              <li><h3 class="resume">Work Experience</h3></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
